body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  //background: #3E3;
  background-image: url(../pics/pills.jpg);
  background-color: #c7b39b; /* Цвет фона */
}
a {
  color: black;
}
a:hover {
  color: #3A3;
}



.home {
  width: 100%;
  border: solid 1px black;
  height: 150px;
  overflow: hidden;
}
 #pharmacyName {
  width: 80%;
  background: #3A3;
  float: left;
  height: 150px;
 }
 #logInField {
  width: 20%;
  background: #008000;
  float: left;
  height: 150px;
  text-align: right;
 }
 .loginLink {
   color: black;
 }
 .loginLink:hover {
   color: #3A3;
 }
 .loginForm {
   margin-right: 20px;
   margin-top: 20px;
 }




 .content {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
 }
 #advertisement {
  background: #FFF;
  width: 100%;
  border: solid 1px black;
  float: left;
  height: 100px;
  clear: both;
 }


 .toolbar {
   background-color: #FFF;
   width: 100%;
   float: left;
   clear: both;
   border: solid 1px black;
   height: 40px;
 }
 #search {
   width: 33%;
   float: left;
   height: 40px;
   clear: both;
   margin-left: 10px;
   margin-top: 10px;
 }
 #contacts {
   width: 33%;
   float: left;
   height: 40px;
   background-color: #FEF;
 }
 #contactsId {
   margin-left: 10px;
   margin-top: 5px;
 }

 #basket {
   width: 33%;
   float: left;
   height: 40px;
 }
 #basketId {
   width: 50%;
   height: 20px;
   margin-top: 5px;
   margin-left: 10px;
 }
 .basketImg {
   float: left;
 }




 #categories {
   background: #FFF;
   width: 100%;
   border: solid 1px black;
   float: left;
   clear: both;
 }
 #categoriesField {
   margin-bottom: 5px;
 }
 .categoriesButtons {
   margin-top: 5px;
   margin-left: 5px;
 }




 #products {
   width: 100%;
   background: #FEF;
   border: solid 1px black;
   float: left;
   clear: both;
   min-height: 400px;
 }
.product {
  width: 16.53%;
  height: 210px;
  float: left;
  border: solid 1px #008000;
  text-align: center;
  overflow: hidden;
}
.imgLink {
  border: solid 1px #008000;
  margin-top: 4px;
  margin-left: 4px;
}
.productLink {
  color: black;
}
.productLink:hover {
  color: #3A3;
}


#bottomOfSite{
  border: solid 1px black;
  float: left;
  width: 100%;
  background-color: #008000;
}
#rights {
  text-align: center;
}
