section#about {
  background-image: url(../../images/kyiv.jpg);
  background-size: cover;
}

.semiopacity {
    background-image: url(../../images/whiteBackg.png);
    color: #fff; /* Цвет текста */
}

div#divProfile {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
}

.profileData {
  font-style: italic;
}

div#divProfileData{
  padding: 6px;
  margin-bottom: 12px;
}

div#divProfileData label{
  text-align: right;
  font-weight: normal;
  margin: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
