<% layout('panel/layout') -%>
<link href="../assets/css/main.css" rel="stylesheet">
<link href="../assets/css/custom.css" rel="stylesheet">
<link href="../assets/css/index.css" rel="stylesheet">
<div class="row">
  <div class="col-md-12 col-sm-12">
    <!--<div class="col-md-4 col-sm-4 request-network">
        <input type="text" name="street" id="street" value="" placeholder="Street">
    </div>
    <div class="col-md-1 col-sm-3 request-network">
    <input type="text" name="housenumber" id="housenumber" value="" placeholder="No.">
  </div>-->
  <div class="col-md-5 col-sm-5 request-network">
    <div class="request-network-icon">
      <a href="#modal">
        <img src="../icons/search.svg" />
      <span>Search apartment buildings</span>
    </a>
    </div>
  </div>
  <div class="col-md-5 col-sm-5 request-network">
    <div class="request-network-icon">
        <a href="#categoryModal">
      <img src="../icons/category.svg" />
    <span>Select a category</span>
    </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 request-network">
    <div class="request-network-icon">
        <a href="#">
      <img src="../icons/sort.svg" />
      <div class="select-wrapper">
                  <select name="category" id="category">
                    <option selected isabled value style="display:none">Sort</option>
                    <option value="1">Manufacturing</option>
                    <option value="1">Shipping</option>
                    <option value="1">Administration</option>
                    <option value="1">Human Resources</option>
                  </select>
                </div>

    </a>
    </div>
  </div>


  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 report-item">
    <div class="col-md-12 col-sm-12 report-item-title">
      <h3>My title 1</h3>
    </div>
    <div class="col-md-12 col-sm-12 report-item-author-date">
      <div class="col-md-6 col-ms-12 report-item-author">
        <h4>Behrang Behvandi</h4>
      </div>
      <div class="col-md-6 col-ms-12 report-item-date">
        <h4>2016/12/12</h4>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 report-item-shortDesc">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus diam sed dui lobortis pulvinar. Aenean venenatis urna vel mauris egestas eleifend. Pellentesque maximus molestie sapien, a volutpat elit lacinia nec. Etiam non ipsum fringilla, sodales augue sed, suscipit mi. Pellentesque faucibus pharetra ipsum, vel semper odio ullamcorper non. Donec eu quam nibh. Suspendisse porta fringilla arcu eget suscipit. Nulla pellentesque massa a pulvinar euismod. Aliquam erat volutpat.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 report-status">
      <span>Status: In process</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 report-item">
    <div class="col-md-12 col-sm-12 report-item-title">
      <h3>My title 1</h3>
    </div>
    <div class="col-md-12 col-sm-12 report-item-author-date">
      <div class="col-md-6 col-ms-12 report-item-author">
        <h4>Behrang Behvandi</h4>
      </div>
      <div class="col-md-6 col-ms-12 report-item-date">
        <h4>2016/12/12</h4>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 report-item-shortDesc">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus diam sed dui lobortis pulvinar. Aenean venenatis urna vel mauris egestas eleifend. Pellentesque maximus molestie sapien, a volutpat elit lacinia nec. Etiam non ipsum fringilla, sodales augue sed, suscipit mi. Pellentesque faucibus pharetra ipsum, vel semper odio ullamcorper non. Donec eu quam nibh. Suspendisse porta fringilla arcu eget suscipit. Nulla pellentesque massa a pulvinar euismod. Aliquam erat volutpat.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 report-status">
      <span>Status: In process</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 report-item">
    <div class="col-md-12 col-sm-12 report-item-title">
      <h3>My title 1</h3>
    </div>
    <div class="col-md-12 col-sm-12 report-item-author-date">
      <div class="col-md-6 col-ms-12 report-item-author">
        <h4>Behrang Behvandi</h4>
      </div>
      <div class="col-md-6 col-ms-12 report-item-date">
        <h4>2016/12/12</h4>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 report-item-shortDesc">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus diam sed dui lobortis pulvinar. Aenean venenatis urna vel mauris egestas eleifend. Pellentesque maximus molestie sapien, a volutpat elit lacinia nec. Etiam non ipsum fringilla, sodales augue sed, suscipit mi. Pellentesque faucibus pharetra ipsum, vel semper odio ullamcorper non. Donec eu quam nibh. Suspendisse porta fringilla arcu eget suscipit. Nulla pellentesque massa a pulvinar euismod. Aliquam erat volutpat.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 report-status">
      <span>Status: In process</span>
    </div>
  </div>
</div>
