<% layout('panel/layout') -%>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="dashboard-widget-content">

          <ul class="list-unstyled timeline widget">
            <% if(notifications) {%>
              <% for (let i = notifications.length-1; i >= 0; i--) {  %>
              <li class="notification-container-li">
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">

                            <a><%= notifications[i].title %></a>
                                  </h2>
                    <div class="byline">
                      <span><%= notifications[i].creationdate.toUTCString() %></span></a>
                    </div>
                    <p class="excerpt"><%= notifications[i].text %></a>
                    </p>
                  </div>
                </div>
              </li>
              <%}%>
              <%} %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
