<% layout('panel/layout') -%>
<div class="row">
  <div class="col-md-12 categories-wrapper">
    <h4>Categories:</h4>
        <ul class="alt">
          <% if(categories) {%>
            <% for (let i = categories.length-1; i >= 0; i--) {  %>
              <li>
              <%= categories[i].name %>
             </li>
              <% } %>
            <%}
          %>
        </ul>
      </div>
</div>
