<h1>Register</h1>
<form method="post" accept-charset="UTF-8">
  <div id="regInsideContent">
    <div class="regField">
      <label>First name:</label>
      <input required type="text" name="firstname">
    </div>
    <div class="regField">
      <label>Last name:</label>
      <input required type="text" name="lastname">
    </div>
    <div class="regField">
      <label>E-mail:</label>
      <input required type="text" name="email">
    </div>
    <div class="regField">
      <label>Phone number:</label>
      <input required type="text" name="phonenumber">
    </div>
    <div class="regField">
      <label>Username:</label>
      <input required type="text" name="username">
    </div>
    <div class="regField">
      <label>Password:</label>
      <input required type="password" name="password">
    </div>
    <div class="regField">
      <label>Confirm password:</label>
      <input required type="password" name="confirmPassword">
    </div>
  </div>
  <!-- <div class="regField">
    <label id="sexLabel">Choose your sex:</label>
    <input type="radio" name="sex" value="male" checked>Male
    <input type="radio" name="sex" value="female">Female
  </div> -->
  <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
  <div class="regField">
    <input id="submitButt" class="signupBtn" type="submit" value="Sign Me Up!">
  </div>
</form>
