<div class="remodal" data-remodal-id="requestModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <header class="major my-form-header">
    <h2>Send a new request</h2>
  </header>
  <form method="post" action="/profile/create_request" id="userRequestForm">
    <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
    <div class="row uniform 100%">
      <div class="6u$ network-create-form userCategoryWrapper">
        <label class="my-label" for="category">Select a category</label>
        <div class="select-wrapper userSelectWrapper">
                    <select name="category" id="categoryUser">
                        <option selected isabled value style="display:none">Category</option>
                        <% if(categories) {%>
                          <% for (let i = categories.length-1; i >= 0; i--) {  %>
                            <option value="<%= categories[i].name %>"><%= categories[i].name %></option>
                            <% } %>
                          <%}
                        %>

                    </select>
        </div>
      </div>
                  <div class="12u$ network-create-form">
                    <label class="my-label" for="title">Title</label>
                    <input class="my-text-inputs" type="text" name="title" id="title" value="" placeholder="New Password">
                  </div>
                  <div class="12u$ network-create-form">
                    <label class="my-label" for="text">Request's message</label>
                    <textarea class="my-textArea" name="text" id="text" placeholder="Enter your message" rows="6"></textarea>
                  <!--  <input class="my-text-inputs"type="textarea" name="text" id="text" value="" placeholder="Request message">-->
                  </div>
                  <div class="12u$">
                      <button class="button special fit my-btn request-btn">Send</button>
                  </div>
    </div>
  </form>
  <!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->

</div>
