<% layout('profile/layout') -%>
<% if(requests) {%>
  <% for (let i = requests.length-1; i >= 0; i--) {  %>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 report-item">
        <div class="col-md-12 col-sm-12 report-item-title">
          <h3><%= requests[i].title %></h3>
        </div>
        <div class="col-md-12 col-sm-12 report-item-author-date">
          <div class="col-md-6 col-ms-12 report-item-author">
            <h4><%= requests[i].status %></h4>
          </div>
          <div class="col-md-6 col-ms-12 report-item-date">
            <h4><%= requests[i].creationdate.toUTCString() %></h4>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 report-item-shortDesc">
          <p>
            <%= requests[i].text %>
          </p>
        </div>
      </div>
    </div>
    <%}%>
  <%} %>
