div#products {
  min-height: 800px;
}

div#backIndex {
  background: #FFF;
  width: 100%;
  border: solid 1px black;
  float: left;
  height: 50px;
  clear: both;
}
div#backIndex p {
  margin-left: 10px;
}
div#pagesField {
  text-align: center;
  width: 100%;
  float: left;
  clear: both;
  background: #F5FFFA;
  border: solid 1px black;
  font-size: 20px;
}
div#pagesField div{
  padding-top: 10px;
  padding-bottom: 10px;
}
a#uniquePage {
  background-color: #00FA9A;
  border: solid 1px black;
}
