<h1>Select category</h1>
<form method="post" accept-charset="UTF-8">
  <div class="regField">
    <label>Category:</label>
    <input required type="text" name="category">
  </div>
  <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
  <div class="regField">
    <input id="submitButt" class="signupBtn" type="submit" value="Sign Me Up!">
  </div>
</form>
