<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>vApteka</title>
 </head>
 <body>
<div class="home">
  <div id="pharmacyName">
    <a href="/"><img class="baseImg" alt="pharmacyName" src="../pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
  </div>
  <div id="logInField"><form method="post">
  <div class="loginForm">
    <label>Login:</label>
    <input type="text" name="login" class="login">
  </div>
  <div class="loginForm">
    <label>Password:</label>
    <input type="text" name="password" class="password">
  </div>
  <div class="loginForm">
    <a class="loginLink" href="forgotpassword">Forgot account?</a>
    <a class="loginLink" href="signup">Registration</a>
    <input type="submit" value="Sign In">
  </div>
  </form>
</div>
</div>
<div class="content">
  <div id="advertisement">advertisement</div>
  <div class="toolbar">
    <div id="search"><form>
   <input type="search" name="q" placeholder="i want to search...">
   <input type="submit" value="Search"></div>
    <div id="contacts">
      <div id="contactsId">
        <a href="about">Contacts</a>
      </div>
    </div>
    <div id="basket">
        <div id="basketId">
          <a href="basket">Basket</a>
          <img class="basketImg" alt='basketImg' src="../pics/basket.png" width="20px" lenght="20px">
        </div>
    </div>
  </div>
  <div id='categories'><div id="categoriesField"><form>
  <button class="categoriesButtons">Category</button>
  <button class="categoriesButtons">Category</button>
  <button class="categoriesButtons">Category</button>
  <button class="categoriesButtons">Category</button>
</form></div></div>
  <div id="products">
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
    <div class="product"><a href="http://google.ua" class="productLink"><img class="imgLink" alt='pharmacyName' src="../pics/galstena.jpg" width="85%" lenght="85%">Galstena</a></div>
  </div>
</div>
<div id="bottomOfSite">
  <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
</div>
</body>
</html>
