<% layout('profile/layout') -%>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 report-item">
    <div class="col-md-12 col-sm-12 report-item-title">
      <h3>My title 1</h3>
    </div>
    <div class="col-md-12 col-sm-12 report-item-author-date">
      <div class="col-md-6 col-ms-12 report-item-author">
        <h4>Status: In process</h4>
      </div>
      <div class="col-md-6 col-ms-12 report-item-date">
        <h4>2016/12/12</h4>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 report-item-shortDesc">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus diam sed dui lobortis pulvinar. Aenean venenatis urna vel mauris egestas eleifend. Pellentesque maximus molestie sapien, a volutpat elit lacinia nec. Etiam non ipsum fringilla, sodales augue sed, suscipit mi. Pellentesque faucibus pharetra ipsum, vel semper odio ullamcorper non. Donec eu quam nibh. Suspendisse porta fringilla arcu eget suscipit. Nulla pellentesque massa a pulvinar euismod. Aliquam erat volutpat.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 report-item">
    <div class="col-md-12 col-sm-12 report-item-title">
      <h3>My title 1</h3>
    </div>
    <div class="col-md-12 col-sm-12 report-item-author-date">
      <div class="col-md-6 col-ms-12 report-item-author">
        <h4>Status: In process</h4>
      </div>
      <div class="col-md-6 col-ms-12 report-item-date">
        <h4>2016/12/12</h4>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 report-item-shortDesc">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus diam sed dui lobortis pulvinar. Aenean venenatis urna vel mauris egestas eleifend. Pellentesque maximus molestie sapien, a volutpat elit lacinia nec. Etiam non ipsum fringilla, sodales augue sed, suscipit mi. Pellentesque faucibus pharetra ipsum, vel semper odio ullamcorper non. Donec eu quam nibh. Suspendisse porta fringilla arcu eget suscipit. Nulla pellentesque massa a pulvinar euismod. Aliquam erat volutpat.
      </p>
    </div>
  </div>
</div>
