<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title><%= request.title %></title>
 </head>
 <body>
   <input id='given_text' required type="hidden" value='<%= request.text %>' name="category">
   <p id='display_text'></p>

   <script>
   function render(){
     document.getElementById('display_text').innerHTML = document.getElementById('given_text').value;
   }
   </script>

   <script>render();</script>
 </body>
</html>
