<!doctype html>

<html lang="en">
<head>
  <link rel="stylesheet" href="../css/about.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />

  <title>Contacts</title>
  <meta name="description" content="Contacts">
  <meta name="author" content="Valeriy Babenko">
</head>

<body>
  <h1>Contacts</h1>
  <p><b>Name</b>:Valeriy Babenko<br>
  <b>E-mail</b>:vapteka@gmail.com<br>
  <b>Mobile</b>:(+380)99-545-19-92</p>
  <a href="/">Home</a>
</body>
</html>
