<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="../css/index.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>Log In</title>
</head>
<body>
  <div class="home">
    <div id="pharmacyName">
      <a href="/"><img class="baseImg" alt='pharmacyName' src="../pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
    </div>
    <div id="logInField">
      <form form method="get" accept-charset="UTF-8">
    <div class="loginForm">
      <label>Login:</label>
      <!--<input type="text" name="login" class="login">-->
    </div>
    <div class="loginForm">
      <label>Password:</label>
      <!--<input type="text" name="password" class="password">-->
    </div>
    <div class="loginForm">
      <a class="loginLink" href="forgotpassword">Forgot account?</a>
      <a class="loginLink" href="register">Registration</a>
      <input type="submit" value="Sign In">
    </div>
    </form>
  </div>
  </div>
  <div class="regContent">
    <form method="post" accept-charset="UTF-8">
      <div id="regInsideContent">
      <div class="regField">
        <label>Login:</label>
        <input type="text" name="username">
      </div>
      <div class="regField">
        <label>Password:</label>
        <input type="text" name="password">
      </div>
      <div class="regField">
        <input id="submitButt" type="submit" value="Sign In!">
      </div>
    </div>
    </form>
  </div>
  <div id="bottomOfSite">
    <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
  </div>
</body>
</html>
