<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/user.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>vApteka</title>
 </head>
 <body>
   <div class="home">
     <div id="pharmacyName">
       <a href="/"><img class="baseImg" alt='pharmacyName' src="../pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
     </div>
     <div id="logInField">
         <div id="profileField">
           <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
           <a href="/users/profile"><img class="profileImg" alt='profileImg' src="../pics/profile.png" width="66px" lenght="66px"></a>
           <a href="/users/logout" id="loginLink"><div>Log out</div></a>
         </div>
     </div>
   </div>
   <!-- Special part start -->
   <div class="userContent">
     <div id="currentUser">
       <p><%= user.firstname %> <%= user.lastname %></p>
       <form enctype="multipart/form-data" method="post">
          <p>Choose .jpeg file to change avatar<br><input type="file" name="avatar" accept="image/jpeg"><br>
          <input type="submit" value="Submit"></p>
       </form>
       <% if(user.admin == true){%>
         <a href="/admins">Administration</a>
       <%}%>
     </div>
   </div>
   <!-- Special part ends -->
   <div id="bottomOfSite">
     <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
   </div>
</body>
</html>
