<div id="basket">
    <div id="basketId">
      <a href="basket">Basket</a>
      <img class="basketImg" alt='basketImg' src="../pics/basket.png" width="20px" lenght="20px">
    </div>
</div>

img.basketImg {
   float: left;
}
div#basket {
   width: 33%;
   float: left;
   height: 40px;
}
div#basketId {
   width: 50%;
   height: 20px;
   margin-top: 5px;
   margin-left: 10px;
}
