div.orderContent {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: #FFF;
  min-height: 550px;
  border: solid 1px black;
}
div#orderSubContent {
  margin-left: 2%;
  margin-right: 2%;
}

div.orders {
  border: solid 1px green;
  width: 100%;
}
div#orderRightSide {
  border: solid 1px green;
  width: 60%;
  float: right;
  overflow: hidden;
  margin: 1%;
  padding: 1%;
}
div#orderLeftSide {
  width: 30%;
  float: left;
  overflow: hidden;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}
div#orderBottomSide {
  width: 98%;
  clear: both;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

label#inprocessStatus{
  color: orange;
  text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;
}
label#expectStatus{
  color: yellow;
  text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;
}
label#completedStatus{
  color: green;
  text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;
}

input.statusBtns {
   background: -moz-linear-gradient(#ADFF2F, #00FF00, #ADFF2F);
   background: -webkit-gradient(linear, 0 0, 0  100%, from(#ADFF2F), to(#ADFF2F), color-stop(0.5, #00FF00));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
   padding: 10px;
   color: #333;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #666;
   cursor: pointer;
}
input:hover{
  transition: all 0.5s;
  background: -moz-linear-gradient(#DC143C, red, #DC143C);
  background: -webkit-gradient(linear, 0 0, 0  100%, from(#DC143C), to(#DC143C), color-stop(0.5, red));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  color: white;
}
input.deleteBtn{
  padding: 7px;
  cursor: pointer;
}

div.orderBottomLeft{
  float: left;
}
div.orderBottomRight{
  float: right;
  text-align: right;
}
div.orderBottomLeft label{
  font-size: 30px;
}
