div.confirmContent {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: #FFF;
  min-height: 550px;
  border: solid 1px black;
}
div#confirmContentSub{
  margin-left: 2%;
  margin-right: 2%;
}
div#regConfirmInsideContent {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 30%;
  text-align: right;
  float: left;
  border: solid 1px black;
  height: 245px;
  background-color: #F5FFFA;
}
div#logConfirmInsideContent {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 30%;
  text-align: right;
  float: left;
  border: solid 1px black;
  display: none;
  height: 245px;
  background-color: #F5FFFA;
}

.confirmField {
  padding: 7px;
  padding-right: 15px;
}

div#bottomConfirmInsideContent{
  clear: both;
}

div.successContent {
   font-size: 25px;
   margin-left: 5px;
   padding: 7px;
 }
div.successContent a {
  font-size: 20px;
}

div.alert-danger {
  margin-left: 20px;
  color: red;
  margin-top: 5px;
}
div.alert-success {
  margin-left: 20px;
  color: #3A3;
  margin-top: 5px;
}

div.confirmOrder {
  border: solid 1px black;
  text-align: center;
  background-color: #F5FFFA;
}
div#confirmOrderInfo {
  width: 94%;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;
  overflow: hidden;
  border: solid 1px green;
  background-color: white;
}
label#firstConfirmLabel {
  float: left;
}
label#secondConfirmLabel {
  float: right;
}

div#addresssphone {
  padding-top: 10px;
  width: 30%;
}

input.confirmBtn {
   background: -moz-linear-gradient(#ADFF2F, #00FF00, #ADFF2F);
   background: -webkit-gradient(linear, 0 0, 0  100%, from(#ADFF2F), to(#ADFF2F), color-stop(0.5, #00FF00));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
   padding: 12px;
   color: #333;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #666;
   cursor: pointer;
}
input.confirmBtn:hover{
  transition: all 0.5s;
  background: -moz-linear-gradient(#00FA9A, #00FF7F, #00FA9A);
  background: -webkit-gradient(linear, 0 0, 0  100%, from(#00FA9A), to(#00FA9A), color-stop(0.5, #00FF7F));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  color: #2F4F4F;
}
