div#products {
  min-height: 800px;
}
div#backIndex {
  background: #FFF;
  width: 100%;
  border: solid 1px black;
  float: left;
  height: 50px;
  clear: both;
}
div#backIndex p {
  margin-left: 10px;
}

.searchSearch input {
  border: none;
}
.inputSearch {
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box; /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  background: white;
  font: 13px Tahoma, Arial, sans-serif;
  outline: none;
}
.inputSearch:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #00FA9A;
  color: black;
}
.submitSearch {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(../pics/search.png) 50% no-repeat;
  opacity: 0.5; /* prozrachnost */
}
.submitSearch:hover {
  opacity: 0.8;
}

.search_area{
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 4px;
  position: relative;
  width: 99%;
}

#search_advice_wrapper{
  display: none;
  width: 99%;
  background-color: #66CDAA;
  color: black;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=95);
  filter: alpha(opacity=95);
  z-index:999;
  position: absolute;
  top: 39px;
}

#search_advice_wrapper .advice_variant{
  cursor: pointer;
  padding: 8px 37px 9px 15px;
  text-align: left;
}
#search_advice_wrapper .advice_variant:hover{
  color: white;
  background-color: #8A2BE2;
}
#search_advice_wrapper .active{
  cursor: pointer;
  padding: 8px 37px 9px 15px;
  color: white;
  background-color: #8A2BE2;
}
